USE [master]
GO
/****** Object:  Database [AsiBasecodeDb]    Script Date: 2024/06/25 4:11:55 ******/
CREATE DATABASE [AsiBasecodeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AsiBasecodeDb', FILENAME = N'/var/opt/mssql/data/AsiBasecodeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AsiBasecodeDb_log', FILENAME = N'/var/opt/mssql/data/AsiBasecodeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AsiBasecodeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AsiBasecodeDb]
GO
USE [AsiBasecodeDb]
GO
/****** Object:  Table [dbo].[M_User]    Script Date: 2024/06/25 4:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] NOT NULL,
	[CreatedBy] [varchar](256) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	-- Add Permission Attributes Here --
	/* [CanCreateUser] [bit] NOT NULL DEFAULT 0, */
	PRIMARY KEY ([Id]),
)
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[CreatedBy] [varchar](256) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[TemporaryPassword] [varchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Email] [varchar](256) NOT NULL,
	[UserRole] [int] NOT NULL DEFAULT 1, -- This determines the user's role (0-Admin, 1-User, etc.).
	[Remarks] [nvarchar](500) NULL,
	FOREIGN KEY ([UserRole]) REFERENCES [Role]([Id]),
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Location](
    [Id] [int] NOT NULL,
    [Name] [nvarchar](50) NOT NULL,
    PRIMARY KEY ([Id])
)
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] NOT NULL,
	[CreatedBy] [varchar](256) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Type] [int] NOT NULL, -- !ForeignKey?! This corresponds to the type of room (e.g., 0-Multipurpose, 1-Training, etc.).
	[Location] [int] NOT NULL, -- It usually displays floor number (subject to change).
	[Facilities] [nvarchar](512) NOT NULL, -- It contains a list of available facilities within the room (subject to change).
	PRIMARY KEY ([Id]),
	FOREIGN KEY ([Location]) REFERENCES [Location]([Id]),
)
GO
CREATE TABLE [dbo].[RecurrenceType](
    [Id] [int] NOT NULL IDENTITY(1,1),
    [Name] [nvarchar](50) NOT NULL,
    PRIMARY KEY ([Id])
)
GO
CREATE TABLE [dbo].[Booking](
	[Id] [int] NOT NULL IDENTITY(1,1),
	[CreatedBy] [varchar](256) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Cancelled] [bit] NOT NULL, -- Cancel booking (only works before the set date)
	[Title] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](512) NULL,
	[Date] [date] NOT NULL, -- If booking is recurring, this would be the start date.
	[StartTime] [time] NOT NULL,
	[EndTime] [time] NOT NULL,
	[Recurring] [bit] NOT NULL, -- Indicates whether the booking is recurring/repeating or not.
	[UserId] [int] NOT NULL, -- The user that made the booking.
	[RoomId] [int] NOT NULL, -- The room that is being booked.
	[RecurrenceTypeId] [int] NULL, -- Foreign key to RecurrenceType table
    [RecurrenceEndDate] [date] NULL, -- New column for Recurrence End Date
	PRIMARY KEY ([Id]),
	FOREIGN KEY ([UserId]) REFERENCES [User]([Id]),
	FOREIGN KEY ([RoomId]) REFERENCES [Room]([Id]),
	FOREIGN KEY ([RecurrenceTypeId]) REFERENCES [RecurrenceType]([Id])
)
GO
CREATE TABLE [dbo].[Recurrence](
	[BookingId] [int] NOT NULL,
	[CreatedBy] [varchar](256) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[EndDate] [date] NOT NULL, -- It refers to the last day (inclusive) that the recurring booking applies.
	[Frequency] [int] NOT NULL, -- It refers to the recurrence of the schedule (0-Daily, 1-Weekly, 2-Monthly, 3-Annually,...).
	[DayOfPeriod] [int] NOT NULL, -- This refers to the day on the chosen period (from Frequency) that is repeated. The format below is subject to change.
								  ---- Weekly: 0 = Sunday ... 7 = Saturday
								  ---- Monthly: 1 = 1st day of month ... 31 = 31st day of month
								  ---- Annually: 1 = Jan 1 ... 32 = Feb 1 ... 60 = Feb 29 (60 is skipped if not leap year) ... 366 = Dec 31
	-- Add More Recurrence Attributes Here --
	PRIMARY KEY ([BookingId]),
	FOREIGN KEY ([BookingId]) REFERENCES [Booking]([Id]),
)
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](512) NOT NULL,
	[NotifyDate] [datetime] NOT NULL, -- The date and time that the user receives the notification
	[Type] [int] NOT NULL,
	[Seen] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
	PRIMARY KEY ([Id]),
	FOREIGN KEY ([UserId]) REFERENCES [User]([Id]),
)
GO
CREATE TABLE [dbo].[Preferences](
	[Id] [int] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[DarkMode] [bit] NOT NULL,
	[EnableNotifications] [bit] NOT NULL,
	[DefaultBookingDuration] [int] NOT NULL, -- Duration is in terms of minutes (60 = 1 Hour, 90 = 1 1/2 Hour)
	[TimeFormat] [int] NOT NULL, -- 0 = 12-Hour, 1 = 24-Hour
	-- [NotifyBefore] [int] NOT NULL, -- The number of minutes before the booking that the event reminder notification is sent.
	-- Add More Preference Attributes Here --
	/* [FeatureEnabled] [bit] NOT NULL DEFAULT 0, */
	PRIMARY KEY ([Id]),
	FOREIGN KEY ([Id]) REFERENCES [User]([Id]),
)
GO
-- Added Default Admin Role (ID: 0) --
INSERT [dbo].[Role] ([Id], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Deleted], [Name]) VALUES (0, 'admin', getdate(), 'admin', getdate(), 0, N'Admin')
-- Added Default Manager Role (ID: 1) --
INSERT [dbo].[Role] ([Id], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Deleted], [Name]) VALUES (1, 'admin', getdate(), 'admin', getdate(), 0, N'Manager')
-- Added Default User Role (ID: 2) --
INSERT [dbo].[Role] ([Id], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Deleted], [Name]) VALUES (2, 'admin', getdate(), 'admin', getdate(), 0, N'User')
GO
-- Added Default Admin User (ID: 0) --
INSERT [dbo].[User] ([Id], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Deleted], [UserName], [Password], [TemporaryPassword], [LastName], [FirstName], [Email], [UserRole], [Remarks]) VALUES (0, NULL, CAST(N'2022-09-22T10:39:42.213' AS DateTime), NULL, CAST(N'2022-09-22T10:39:42.213' AS DateTime), 0, N'admin', N'adminpass', N'WDCHwzavyvUzFb/JBYNiCg==', N'admin', N'super', N'superadmin@asi-dev.com', 0, N'Super Admin')
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
USE [master]
GO

--Added Manager For Testing (ID:1) --
INSERT INTO [AsiBasecodeDb].[dbo].[User] ([Id], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Deleted], [UserName], [Password], [TemporaryPassword], [LastName], [FirstName], [Email], [UserRole], [Remarks]) VALUES (1, 'admin', GETDATE(), 'admin', GETDATE(), 0, 'KJ', 'kent12345', NULL, 'Kent', 'John', 'kennydeku@gmail.com', 1, 'Test manager for login')
--Added User For Testing (ID:2) --
INSERT INTO [AsiBasecodeDb].[dbo].[User] ([Id], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Deleted], [UserName], [Password], [TemporaryPassword], [LastName], [FirstName], [Email], [UserRole], [Remarks]) VALUES (2, 'admin', GETDATE(), 'admin', GETDATE(), 0, 'seville', 'chanchan', NULL, 'Christian', 'Seville', 'jipxian555@gmail.com', 2, 'Test user for login')


-- Insert default recurrence types
INSERT INTO [AsiBasecodeDb].[dbo].[RecurrenceType] ([Name]) VALUES ('Daily')
INSERT INTO [AsiBasecodeDb].[dbo].[RecurrenceType] ([Name]) VALUES ('Weekly')
INSERT INTO [AsiBasecodeDb].[dbo].[RecurrenceType] ([Name]) VALUES ('Monthly')

-- Insert default locations
INSERT INTO [AsiBasecodeDb].[dbo].[Location] ([Id], [Name]) VALUES (0, '10th Floor')
INSERT INTO [AsiBasecodeDb].[dbo].[Location] ([Id], [Name]) VALUES (1, '11th Floor')
INSERT INTO [AsiBasecodeDb].[dbo].[Location] ([Id], [Name]) VALUES (2, '12th Floor')

-- Insert default rooms
INSERT INTO [AsiBasecodeDb].[dbo].[Room] ([Id], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Deleted], [Name], [Capacity], [Type], [Location], [Facilities]) VALUES (1, 'Admin', GETDATE(), NULL, GETDATE(), 0, 'Conference Room A', 20, 0, 0, 'Projector, Whiteboard, Wi-Fi');
INSERT INTO [AsiBasecodeDb].[dbo].[Room] ([Id], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Deleted], [Name], [Capacity], [Type], [Location], [Facilities]) VALUES (2, 'Admin', GETDATE(), NULL, GETDATE(), 0, 'Meeting Room B', 12, 0, 1, 'Projector, Whiteboard');
INSERT INTO [AsiBasecodeDb].[dbo].[Room] ([Id], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Deleted], [Name], [Capacity], [Type], [Location], [Facilities]) VALUES (3, 'Admin', GETDATE(), NULL, GETDATE(), 0, 'Training Room C', 30, 1, 2, 'Projector, Whiteboard, Desks');


INSERT INTO [AsiBasecodeDb].[dbo].[Preferences] ([Id], [UpdatedDate], [Deleted], [DarkMode], [EnableNotifications], [TimeFormat], [DefaultBookingDuration]) 
VALUES (0, GETDATE(), 0, 1, 1, 12, 60);
INSERT INTO [AsiBasecodeDb].[dbo].[Preferences] ([Id], [UpdatedDate], [Deleted], [DarkMode], [EnableNotifications], [TimeFormat], [DefaultBookingDuration]) 
VALUES (1, GETDATE(), 0, 1, 1, 12, 60);


--Insert Example Notifications
-- First, let's get some valid UserIds from the User table
DECLARE @User1Id int, @User2Id int;

-- Get the first two UserIds from the User table
SELECT TOP 2 @User1Id = Id FROM [User] ORDER BY Id;
SELECT TOP 1 @User2Id = Id FROM [User] WHERE Id != @User1Id ORDER BY Id;

-- If we don't have two distinct users, use the same user for all notifications
IF @User2Id IS NULL
    SET @User2Id = @User1Id;

-- Get the current maximum Id from the Notification table
DECLARE @MaxId int;
SELECT @MaxId = ISNULL(MAX(Id), 0) FROM Notification;

-- Now insert the notifications using the valid UserIds


/*
Before running the following code, make sure that you selected "ASI.Basecode.Data" in the
Package Manager Console (View > Other Windows > Package Manager Console). Make sure that
the connection in the Server Management Studio is on and that the project is runing without
errors.

To scaffold database (generate models and basecode database context), run
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Scaffold-DbContext "Addr=localhost;database=AsiBasecodeDb;Integrated Security=False;Trusted_Connection=True" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -ContextDir . -F
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/