:root {
    /*Light Mode Colors*/
    --light-bg: #fff;
    --light-main: #ADC5CF;
    --light-outer: #A4C1CD;
    --light-text: #185D62;

    /*Dark Mode Colors*/
    --dark-bg: #000;
    --dark-main: #185D62;
    --dark-outer: #fff;
    --dark-text: #fff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    background-color: var(--dark-bg);
    transition: background-color 0.4s ease;
    
}

.outer-container {
    margin-left: 265px;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    background-color: var(--dark-outer);
    padding: 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 265px);
    height: calc(100% - 40px);
    position: fixed;
    top: 20px;
    right: 20px;
    bottom: 20px;
    transition: background-color 0.4s ease;
    transition: margin-left 0.3s ease;
}

.outer-container.expand {
    width: calc(100% - 60px);
}

.main-content {
    height: 85vh;
    background-color: var(--dark-main);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    color: #fff;
}

.main-content nav {
    position: relative;
    height: 100px;
    width: calc(100% - 300px);
    padding-left: 20px;
    padding-right: 20px;
}
/*
html {
    font-size: 16px; /* Set a base font size 
}
h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem; /* This will be 24px 
}*/
.message-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #565656;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    font-size: 16px;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

    .message.success {
        background-color: #4CAF50;
        color: white;
    }

    .message.error {
        background-color: #f44336;
        color: white;
    }


/*SIDEBAR*/
.sidebar {
    width: 265px;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
    transition: background-color 0.4s ease;
    transition: width 0.3s ease;
}
/*
.logo img {
    width: 200px;
    height: auto;
}*/
.logo img {
    width: 150px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it doesn't exceed the container */
    display: none
}
.light-mode {
    display: none; /* Initially hidden */
}

.dark-mode {
    display: none; /* Initially hidden */
}
body.light .light-mode {
    display: block;
}

body.dark .dark-mode {
    display: block;
}

.sidebar-menu {
    list-style: none;
    padding: 0px;
    margin: 20px 0;
    width: 100%;    
}

.sidebar-menu li {
    width: 100%;
}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    width: 100%;
    font-weight: 700;
}

.sidebar-menu li a:hover {
    background-color: #56565635;
}

    .sidebar-menu li.active a {
        background-color: #fff;
        color: #fff;
        font-weight: bold;
    }




.sidebar-menu li a i {

    margin-right: 10px;
}

.user-details {
    width: 100%;
    padding: 10px;
    text-align: start;
    border-bottom: 1px solid #444;
    margin-top: auto;
    color: #fff;
}

.user-name {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
    font-size: 30px;
}

.user-email {
    font-size: 0.9em;
    color: #fff;
}
.side-user-name {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
    font-size: 25px;
}
.notification-section {
    width: 100%;
    padding: 0px 0px;
    color: #ccc;
}

.notification-section a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.notification-section a:hover {
    color: blue;
}

.notification-section i {
    margin-right: 10px;
}

.notification-text {
    flex-grow: 1;
}

.signout {
    width: 100%;
    margin-bottom: 20px;
}

.signout a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.signout a:hover {
    color: red;
}

    
  
.signout i {
    margin-right: 10px;
}

.fas {
    width: 25px;
}
.user-details .user-name,
.user-details .user-email,
.notification-section a,
.signout a {
    color: #fff;
}


.notification-section a {
    color: #fff;
}

.signtout a {
    color: #fff;
}


.user-name,
.user-email,
.notification-section a,
.signout a {
    color: #fff;
}



/*SIDEBAR ENDREGION*/












/*INDEX*/
/*INDEX ENDREGION*/



/*ANALYTICS*/
/*ANALYTICS ENDREGION*/



/*MANAGE ROLES*/
/*MANAGE ROLES ENDREGION*/




/*SETTINGS*/

.edit-button {
    position: absolute; /* Position the button absolutely within the profile-section */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    background-color: #a4c1cd65; /* Customize as needed */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

    .edit-button:hover {
        background-color: #185d6289; 
    }
.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative; /* Ensure the profile-section is positioned relative */
    padding: 1rem;
    border: 1px solid #ccc; /* Optional, for visual debugging */
    border-radius: 5px;
    background-color: var(--background-color);
}
.lightt {
    position: relative; 
    padding: 1rem;
    border: 1px solid #ccc; /* Optional, for visual debugging */
    border-radius: 5px;
    background-color: var(--background-color);
    margin-bottom: 20px;
}
.profile-pic {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without stretching */
    border-radius: 10px; /* Matches container rounded corners */
}
.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    /*font-size: 1.125rem;*/
}

.profile-status {
    font-size: 16px;
    color: #1ab498;
    /*font-size: 0.875rem;*/
}

.settings-section {
    margin-left: 30px; /* Margin from main container */
    margin-right: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #185D62;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s ease;
}
body.light .settings-section {
    background-color: var(--light-main);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.setting-group {
    
    margin-bottom: 0;

}
    .setting-group h2 {
        margin-top: 50px;
        font-size: 25px;
        margin-bottom: 2px;
        color: #1ab498;
    }
.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.setting span {
    
}

.status {
    font-size: 18px;
    color: #ccc;
}

.time-select {
    font-size: 14px;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

@media (max-width: 768px) {
    body {
        margin-left: 0;
        
    }
    /*
    .sidebar {
        width: 70px;  Narrow width for sidebar on smaller screens 
    }*/
    .outer-container {
        padding: 10px 10px; 
        
    }
}

/* Toggle Switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b1afaf;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    top: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    color: blue;
}

input:checked + .slider {
    background-color: var(--dark-main);
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #fff;
}

.save-button {
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    background-color: #10515b;
    color: #fff;
    display: block;
    z-index: 100;
}
.save-button:hover {
    background-color: #10515ba9;
}
.pulse {
    animation: pulse 1.5s infinite;
}
.action-buttons:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.1);
}
/*SETTINGS ENDREGION*/


/*Light Mode*/
body.light {
    background-color: var(--light-bg);
    color: #000;
}
body.light .outer-container {
    background-color: var(--light-outer);
}

.main-content.light {
    background-color: var(--light-main);
    color: #185D62;
}
body.light .main-content {
    background-color: var(--light-main);
    color: #185D62;
}

body.light .sidebar {
    background-color: var(--light-bg);
    color: #000;
    transition: background-color 0.4s ease;
}
.sidebar.light {
    background-color: var(--light-bg);
    color: #000;
    transition: background-color 0.4s ease;
}

body.light .sidebar-menu li a {
    color: #000;
}
.sidebar-menu li a.light {
    color: #000;
}

body.light .sidebar-menu li a {
    color: #000;
}

body.light .sidebar-menu li a:hover,
.sidebar-menu li.active a {
    background-color: #5da8ae3e;
}

body.light .sidebar-menu li.active a {
    background-color: var(--light-outer);
    color: #000;
    font-weight: bold;
}


body.light .header .tab {
    background-color: var(--light-main);
    color: #000;
}

body.light .header .tab.active {
    background-color: var(--dark-main);
    color: #fff;
}

body.light .logo-img {
    width: 150px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%;
}

.logo-img.light {
    width: 150px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%;
}

body.light .user-name {
    color: var(--light-text);
}

body.light .user-email {
    color: var(--light-text);
}
body.light .notification-section a {
    color: var(--light-text);
}
body.light .time-select {
    background-color: var(--light-main);
    color: var(--dark-main);
    transition: background-color 0.4s ease;
}
body.light .save-button {
    background-color: var(--dark-main);
    color: #fff;
}

body.light .save-button:hover {
    background-color: #10515ba9;
}


.notification-section a.light {
    color: var(--light-text);
}

body.light .signout a {
    color: var(--light-text);
}
.signout a.light {
    color: var(--light-text);
}
body.light .signout a:hover {
    color: red;
}

body.light .side-user-name {
    color: #000;
}
body.light .user-details.light .user-name,
.user-details.light .user-email,
.notification-section.light a,
.signout.light a {
    color: #000;
}
.user-details.light .user-name,
.user-details.light .user-email,
.notification-section.light a,
.signout.light a {
    color: #000;
}

body.light .profile-pic {
    background: #5da8ae;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-pic.light {
    background: #5da8ae;
}
body.light .setting-group h2 {
    color: #1ab498;
    font-size: 25px;
}

