:root {
    /*Light Mode Colors*/
    --light-bg: #fff;
    --light-main: #ADC5CF;
    --light-outer: #A4C1CD;

    /*Dark Mode Colors*/
    --dark-bg: #000;
    --dark-main: #185D62;
    --dark-outer: #fff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    overflow: hidden;
    background-color: var(--dark-bg);
    transition: background-color 0.4s ease;
}

.outer-container {
    
    margin-left: 265px;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    background-color: var(--dark-outer);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 265px);
    height: calc(100% - 40px);
    position: fixed;
    top: 20px;
    right: 20px;
    bottom: 20px;
    transition: background-color 0.4s ease;
}

.outer-container.expand {
    width: calc(100% - 60px);
}

.main-content {
    height: 85vh;
    background-color: var(--dark-main);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    color: #fff;
}

.main-content nav {
    position: relative;
    height: 100px;
    width: calc(100% - 300px);
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}


/*SIDEBAR*/
.sidebar {
    width: 265px;
    height: 100vh;
    background-color: #000;    
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
    transition: background-color 0.4s ease;    
}

.logo img {
    width: 200px;
    height: auto;
}

.sidebar-menu {
    list-style: none;
    padding: 0px;
    margin: 20px 0;
    width: 100%;    
}

.sidebar-menu li {
    width: 100%;

}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    width: 100%;
    font-weight: 700;
}

.sidebar-menu li a:hover,
.sidebar-menu li.active a {
    background-color: #333;
}

.sidebar-menu li.active a {
    background-color: #1BC7D2;
    color: #000;
    font-weight: bold;
}


.sidebar-menu li a i {
    margin-right: 10px;
}

.user-details {
    width: 100%;
    padding: 10px;
    text-align: start;
    border-bottom: 1px solid #444;
    margin-top: auto;
}

.user-name {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.user-email {
    font-size: 0.9em;
    color: #bbb;
}

.notification-section {
    width: 100%;
    padding: 0px 0px;
}

.notification-section a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.notification-section a:hover {
    color: blue;
}

.notification-section i {
    margin-right: 10px;
}

.notification-text {
    flex-grow: 1;
}

.signout {
    width: 100%;
    margin-bottom: 20px;
}

.signout a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.signout a:hover {
    color: red;
}

.signout i {
    margin-right: 10px;
}

.fas {
    width: 25px;
}
/*SIDEBAR ENDREGION*/












/*INDEX*/
/*INDEX ENDREGION*/



/*ANALYTICS*/
/*ANALYTICS ENDREGION*/



/*MANAGE ROLES*/
/*MANAGE ROLES ENDREGION*/




/*SETTINGS*/
    
.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.profile-pic {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 10px;
    margin-right: 20px;
}


.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
}

.profile-status {
    font-size: 16px;
    color: #1ab498;
}

.settings-section {
    margin-top: 20px;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.setting span {
    font-size: 18px;
}

.status {
    font-size: 18px;
    color: #ccc;
}



.time-select {
    font-size: 18px;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}
/*
.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    border-radius: 25px;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #fff;
    margin-top: 100px;
}



.save-button {
    display: block;
    background-color: #4D869C;
    color: #fff;
    padding: 0.8rem 1.5rem;
    z-index: 100;
    border-radius: 20px;
}
.pulse {
    animation: pulse 1.5s infinite;
}

.action-buttons:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}*/
.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.save-button,
.cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.save-button {
    background-color: #28a745;
    color: white;
    margin-right: 10px;
}



/* Dark Mode 
body.night {
    background-color: var(--light-bg);
    color: #000;
}

.outer-container.night {
    background-color: var(--light-outer);
    color: #000;
}

.main-content.night {
    background-color: var(--light-main);
    color: #185D62;
}

.sidebar.night {
    background-color: var(--light-bg);
    color: #000;
    transition: background-color 0.4s ease;
}

.sidebar-menu li a.night {
    color: #000;
}

.logo-img.night {
    width: 200px;
    height: auto;
}

.notification-section a.night {
    color: #000;
}

.signtout a.night {
    color: #000;
}


.user-details.night .user-name,
.user-details.night .user-email,
.notification-section.night a,
.signout.night a {
    color: #000;
}

.profile-pic.night {
    width: 80px;
    height: 80px;
    background: #5da8ae;
    border-radius: 10px;
    margin-right: 20px;
}*/
/*Light*/
body.light {
    background-color: var(--light-bg);
    color: #000;
}

.outer-container.light {
    background-color: var(--light-outer);
}

.main-content.light {
    background-color: var(--light-main);
    color: #185D62;
}

.sidebar.light {
    background-color: var(--light-bg);
    color: #000;
    transition: background-color 0.4s ease;
}

.sidebar-menu li a.light {
    color: #000;
}

.logo-img.light {
    width: 200px;
    height: auto;
}

.notification-section a.light {
    color: #000;
}

.signtout a.light {
    color: #000;
}


.user-details.light .user-name,
.user-details.light .user-email,
.notification-section.light a,
.signout.light a {
    color: #000;
}

.profile-pic.light {
    width: 80px;
    height: 80px;
    background: #5da8ae;
    border-radius: 10px;
    margin-right: 20px;
}


body.dark {
    background-color: var(--dark-bg);
    color: #fff;
}

.outer-container.dark {
    background-color: var(--dark-outer);
}

.main-content.dark {
    background-color: var(--dark-main);
    color: #fff;
}

.sidebar.dark {
    background-color: var(--dark-bg);
    color: #fff;
    transition: background-color 0.4s ease;
}

.sidebar-menu li a.dark {
    color: #fff;
}

.logo-img.dark {
    width: 200px;
    height: auto;
}

.notification-section a.dark {
    color: #fff;
}

.signtout a.dark {
    color: #fff;
}


.user-details.dark .user-name,
.user-details.dark .user-email,
.notification-section.dark a,
.signout.black a {
    color: #fff;
}

.profile-pic.dark {
    width: 80px;
    height: 80px;
    background: #5da8ae;
    border-radius: 10px;
    margin-right: 20px;
}
/* Toggle Switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b1afaf;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    top: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    color: blue;
}

input:checked + .slider {
    background-color: var(--dark-main);
}

    input:checked + .slider:before {
        transform: translateX(20px);
    }



/*SETTINGS ENDREGION*/
