:root {
    --dark-bg: #000;
    --dark-main: #185D62;
    --dark-outer: #fff;
    --dark-text: #fff;
}

body {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    transition: background-color 0.4s ease;
}

.outer-container {
    background-color: var(--dark-outer);
    color: var(--dark-text);
    transition: background-color 0.4s ease;
}

.main-content {
    background-color: var(--dark-main);
    color: var(--dark-text);
    transition: background-color 0.4s ease;
}

.sidebar {
    transition: background-color 0.4s ease;
    background-color: #000;
    color: #fff;
}

.sidebar-menu li a {
    color: #fff;
}

.sidebar-menu li.active a {
    background-color: #fff;
    color: #000;
}

.user-details .user-name .side-user-name {
    color: #fff;
}

.user-details .user-email {
    color: #bbb;
}

.notification-section a {
    color: #fff;
}

    .notification-section a:hover {
        color: blue;
    }

.signout a {
    color: #fff;
}

    .signout a:hover {
        color: red;
    }



.save-button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 100px;
    background-color: #ADC5CF;
    color: #185D62;
    display: block;
    z-index: 100;
    border-radius: 20px;
}

.save-button:hover {
    background-color: #10515ba9;
    color: #fff;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
}

.profile-pic {
    background: #fff;
}



.time-select {
    background-color: var(--dark-main);
    color: #fff;
    transition: background-color 0.4s ease;
}
.logo img {
    width: 150px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it doesn't exceed the container */
}

 /*Additional dark mode styles can be added here */


/*Dark Mode
    .setting {
    border-bottom: 1px solid #ccc;
}
body.dark {
    background-color: var(--dark-bg);
    color: #fff;
}

.outer-container.dark {
    background-color: var(--dark-outer);
}

.main-content.dark {
    background-color: var(--dark-main);
    color: #fff;
}

.sidebar.dark {
    background-color: var(--dark-bg);
    color: #fff;
    transition: background-color 0.4s ease;
}

.sidebar-menu li a.dark {
    color: #fff;
}

.logo-img.dark {
    width: 200px;
    height: auto;
}

.notification-section a.dark {
    color: #fff;
}

.signtout a.dark {
    color: #fff;
}


.user-details.dark .user-name,
.user-details.dark .user-email,
.notification-section.dark a,
.signout.dark a {
    color: #fff;
}

.profile-pic.dark {
    width: 80px;
    height: 80px;
    background: #5da8ae;
    border-radius: 10px;
    margin-right: 20px;
}
   /* */
